@model IEnumerable<Restaurant.Models.MasterService>

@{
    ViewData["Title"] = "Index";
}


<div class="pagetitle">
    <h1>Master Service</h1>
    <div class="row">
        <div class="col-md-9">
            <nav>

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Master Service</li>
                </ol>

            </nav>
        </div>
        <div class="col-md-3 text-end">
            <a asp-action="Create" class="btn btn-warning">Create New</a>
        </div>
    </div>
</div>



<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <p></p>


                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterServicesTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterServicesDesc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterServicesImage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>



                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterServicesTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterServicesDesc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterServicesImage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>



                                    <td>

                                        <a asp-action="Active" asp-route-id="@item.MasterServiceId">

                                            @if (item.IsActive)
                                            {
                                                <i class="ri-checkbox-circle-fill" style="font-size:23px;color:green"></i>

                                            }
                                            else
                                            {
                                                <i class=" ri-close-circle-fill" style="font-size:23px;;color:red"></i>

                                            }


                                        </a>

                                        |
                                        <a asp-action="Edit" asp-route-id="@item.MasterServiceId"><i class="ri-edit-box-line" style="font-size:23px;"></i></a> |

                                        <a href="" class="csDelete" data-paths="@Url.ActionLink("Delete", "MasterService", new { idDelete = item.MasterServiceId })" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ri-delete-bin-4-line" style="font-size:23px;"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation..!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Area You Sure Delete This Row?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancel">Cancel</button>
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    var UrlPath = "";
    $(function () {

        $(".csDelete").on("click", function () {
            UrlPath = $(this).data("paths")
        })
        $("#btnConfirmDelete").on("click", function () {
            window.location = UrlPath;
            UrlPath = "";

        })
        $("#btnCancel").on("click", function () {
            UrlPath = "";

        })

    })


</script>








